[submodule "my-blog/themes/DoIt"]
	path = my-blog/themes/DoIt
	url = https://github.com/HEIGE-PCloud/DoIt.git
[submodule "my-blog-3/themes/salinger"]
	path = my-blog-3/themes/salinger
	url = https://github.com/jacksalici/salinger-theme.git
